.loading-indicator-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z("header") + 1;

  height: 3px;
  width: 100%;

  opacity: 0;
  transition: opacity 0.4s ease 0.4s;

  background-color: var(--primary-low);

  .loading-indicator {
    height: 100%;
    width: 100%;
    animation: loading-indicator-end 0.4s;
    background-color: var(--tertiary);
  }

  &.loading {
    opacity: 1;
    transition: opacity 0s;

    .loading-indicator {
      width: 20%;
      animation: loading-indicator-start 0.4s;
    }
  }
}

@keyframes loading-indicator-start {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@keyframes loading-indicator-end {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}
