.loading-indicator-container {
  --loading-duration: 5s;
  --loading-function: cubic-bezier(0, 0, 0, 1);

  --done-duration: 0.4s;
  --done-function: ease;

  --fade-out-duration: 0.4s;

  position: fixed;
  top: 0;
  left: 0;
  z-index: z("header") + 1;

  height: 3px;
  width: 100%;

  opacity: 0;
  transition: opacity var(--fade-out-duration) ease var(--done-duration);

  background-color: var(--primary-low);

  .loading-indicator {
    height: 100%;
    width: 100%;
    width: 0%;
    background-color: var(--tertiary);
  }

  &.loading {
    opacity: 1;
    transition: opacity 0s;
  }

  &.loading .loading-indicator {
    transition: width var(--loading-duration) var(--loading-function);
    width: 80%;
  }

  &.done .loading-indicator {
    transition: width var(--done-duration) var(--done-function);
    width: 100%;
  }

  body.discourse-hub-webview & {
    // DiscourseHub obscures the top 1px to work around an iOS bug
    top: 1px;
  }

  body.footer-nav-ipad & {
    top: 49px; // TODO: Share $footer-nav-height from footer-nav.scss
  }
}

body.loading #main-outlet {
  opacity: 0.2;
  transition: opacity 0.2s ease;
}
